@{
    ViewData["Title"] = "Registration Page";
    Layout = "~/Views/Auth/_AuthLayout.cshtml";
}
<section>
    <div class="container-fluid mt-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5 order-2 order-lg-1 mt-4">
                <p class="mx-1 mx-md-4 lead fw-bold me-3 text-uppercase">Let's Get you Registered</p>
                <form class="mx-1 mx-md-4">
                    <div class="d-flex flex-row  align-items-center mb-4 justify-content-between">
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example1c">Your First Name</label>
                            <input type="text" id="form3Example1c" class="form-control" />
                        </div>
                        <div class="form-outline flex-fill mb-0 offset-1">
                            <label class="form-label" for="form3Example1c">Your Last Name</label>
                            <input type="text" id="form3Example1c" class="form-control" />
                        </div>
                    </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Your Email</label>
                            <input type="email" id="form3Example3c" class="form-control" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4c">Password</label>
                            <input type="password" id="form3Example4c" class="form-control" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-3">
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4cd">Repeat your password</label>
                            <input type="password" id="form3Example4cd" class="form-control" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mb-3">
                        <p class="small mt-2 pt-1 mb-0 fw-bold">
                            Already have an account? <a href="/auth/login">Login Here</a>
                        </p>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn btn-primary btn-md">Register</button>
                    </div>

                </form>

            </div>
            <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>
    </div>
</section>