<!DOCTYPE html>
<html lang="en"
      class="light-style customizer-hide"
      dir="ltr"
      data-theme="theme-default">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRMS</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="~/css/vendor/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/css/vendor/theme.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css"/>
    <link rel="stylesheet" href="~/css/common.css" />
</head>
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/site-script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>