@using System.Security.Claims
<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">HRMS</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class='menu-item @(ViewBag.activeMenu == "home"? "active" : "")'>
            <a href="/" class="menu-link">
                <span class="menu-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <div>Home</div>
            </a>
        </li>
        @if (User.FindFirstValue(ClaimTypes.Role) != null && User.FindAll(ClaimTypes.Role).Any(r => r.Value == "Admin"))
        {
            <li class='menu-item @(ViewBag.activeMenu == "employee"? "active" : "")'>
                <a asp-action="index" asp-controller="employee" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                    <div>employee</div>
                </a>
            </li>
        }
        <li class="menu-item">
            <a class="menu-link" onclick="document.getElementById('logoutForm').submit()">
                <span class="menu-icon"><i class="fa fa-power-off" aria-hidden="true"></i></span>
                <span>Logout</span>
                <form id="logoutForm" method="post" asp-controller="auth" asp-action="logout" style="display: none">@Html.ValidationSummary()</form>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->