@{
    ViewData["Title"] = "Access Denied";
}

<style type="text/css">
    body {
        background-color: #f7f7f7;
    }
</style>
<!-- Layout container -->
<div class="layout-page">
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <h1 class="text-danger text-center mt-5">Access Denied</h1>
                        <h2 class="text-danger text-center">You are not authorized to view this page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>